body {
  background-color: white;
	padding: 30px;
	max-width: 350px;
	margin: auto;
}

.home {
	background-color: antiquewhite;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

.cooking  {
  background-color: teal;
  color:white;
  font-family: Verdana;
	font-weight: 900;
	text-transform: uppercase; 
}

.books {
	background-image: url('canvas.png');
  color: fuchsia;
  font-family:;
	font-weight: 900;
}

.sewing {
  background-color:Black ;
  color:red;
  font-weight:bold;
  font-family: 'Barrio', cursive;
}
