body {
   background-image: url("https://cdn.shopify.com/s/files/1/2010/7091/products/26.-Marble_850x.jpg?v=1494974167");
}
.sticker {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 5px;
}
#coding {
  font-size: 40px;
  font-weight: bold;
  font-family: "Courier New";
  padding: 50px 30px;
  background: linear-gradient(paleturquoise);
  border-radius: 20px; 
}
#mimi {
  font-size: 40px;
  font-weight: bold;
  font-family: "Courier New";
  padding: 50px 30px;
  background: linear-gradient(pink);
  border-radius: 20px;
}
#rainbows {
  font-size: 40px;
  font-weight: bold;
  font-family: "Courier New";
  padding: 50px 30px;
  background: linear-gradient(light gray);
  border-radius: 20px;
  }



































