body {
   background: white;
}

.sticker {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 5px;
}
#coding {
  font-size: 40px;
  font-weight: bold;
  font-family: "Courier New";
  padding: 50px 30px;
  background: linear-gradient(red, magenta);
  border-radius: 20px; 
}
#mimi {
  font-size: 40px;
  font-weight: bold;
  font-family: Impact;
  padding: 30px;
  background: linear-gradient(purple, slateblue);
  border-radius: 100px;
  text-shadow: 2px 2px grey;
}
#rainbows {
  font-size: 40px;
  font-weight: bold;
  font-family: Goudy Old Style;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(tomato,orange,yellow,palegreen,olivedrab,lightskyblue,mediumblue,mediumslateblue,purple);
  
}


































