h1 {
font-family: impact;
}
ul {
font-family: courier new;
}
body{
  border: 10px dashed gray ;
  font-family:algerian;
   color: gray;
   text-align:left;
   background-image: url("https://github.com/MimiDoodleGirl101/MimiDoodleGirl101.github.io/blob/master/cooking/recipe-image-legacy-id--9159_10.jpg");
}
