h1 {
  font-family: impact;
  text-align: center;
}
ul {
  text-align: center;
  font-family: courier new;
}
body{
  border: 10px dashed gray;
  font-family: algerian;
  color: gray;
  text-align: center;
  background-image: url("recipe-image-legacy-id--9159_10.jpg");
}
